<%= div_for milestone do %>
    <p>
        <%= h(milestone.name) %>
        <%= h(milestone.startDate) %>
        <%= h(milestone.completionDate) %>
        <%= h(milestone.state) %>
    </p>
<% end -%>
