<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Project Manager's Id:</strong>
  <%= @project.proMgrId %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Ongoing Cost:</strong>
  <%= @project.ongoingcost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
