<p id="notice"><%= notice %></p>

<div class="table-responsive">
<table class="table table-bordered table-hover">
<tr><td><strong>Title:</strong></td><td><%= @project.title %></td></tr>
<tr><td><strong>Budget:</strong></td><td>$
  <%= @project.budget %>
</td></tr>

<tr><td><strong>Ongoing Cost:</strong></td><td>$
  <%= @project.ongoingcost %>
</td></tr>
</table>
</div>

<h4>Milestones</h4>
<div class="row">
<div id="notStarted" class="col-md-4">
   <h5>Not Started</h5>
    <%= render :partial => @project.milestones.where(state: "to_do") %>
</div>
<div id="inProgress" class="col-md-4">
   <h5>In Progress</h5>
    <%= render :partial => @project.milestones.where(state: "doing")%>
</div>
<div id="completed" class="col-md-4">
   <h5>Completed</h5>
    <%= render :partial => @project.milestones.where(state: "completed") %>
</div>
</div>
<br/>

   <%= simple_form_for([@milestone, Milestone.new], html:{class: "form-horzontal"}, remote:true) do |f|   %>
    <div class="row">
    <div class="col-md-2">
    <%= f.input :name, label: false, placeholder: "Name" %>
        </div>
         <div class="col-md-3">
    <%= f.input :startDate, label: false, placeholder: "Start Date", input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
 </div>
   <div class="col-md-3">
    <%= f.input :completionDate, label: false, placeholder: "Completion Date",input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
        </div>
    <div class="col-md-2">
     <%= f.input :state, label: false, placeholder: "State" %></div>
    <%= f.hidden_field :project_id, :value => @project.id%>
    <div class="col-md-2">
    <p><%= f.submit "Add Milestone"%></p></div>

</div>
<% end -%>



<br/>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
